{% extends 'home.html' %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{name}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            
            {% if id != 1 %}
                {% if id != 4 %}
                    {% if id == 2 %}
                    <a href="/{{id}}?region={% if region == 'metropole' %}RhoneAlpes{% else %}metropole{% endif %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                            {% if region == "metropole" %}
                            Rhone Alpes
                            {% else %}
                            Metropole
                            {% endif %}
                        </button>
                    </a>
                    {% else %}
                    <a href="/{{id}}?region={% if region == 'Occitanie' %}RhoneAlpes{% else %}Occitanie{% endif %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                            {% if region == "Occitanie" %}
                            Rhone Alpes
                            {% else %}
                            Occitanie
                            {% endif %}
                        </button>
                    </a>
                    {% endif %}
                
                {% else %}
                    <a href="/{{id}}?year={% if year == '2021' %}2018{% else %}2021{% endif %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary ">
                            {% if year == "2021" %}
                            2018
                            {% else %}
                            2021
                            {% endif %}
                        </button>
                    </a>
                    
                {% endif %}
            {% endif %}
            
        </div>
    </div>

    {% if figure == "plot" %}
    <p> {{ desc }}</p>

    <p align="center">
        <img src="/{{id}}/plot.png?year={{year}}&region={{region}}"/>
        {% if id == 4 %}
        <img src="/{{id}}/plot2.png?year={{year}}"/>
        {% endif %}
    </p>

    {% else %}
    <h2> No figure </h2>
    {% endif %}

    {% if table["data"] == "NULL" %}
    <h2>No data</h2>
    {% else %}
    <h2>Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    {% for header in table['headers'] %}
                    <th scope="col">{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in table['data'] %}
                <tr>
                    {% for value in data %}
                    <td> {{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</main>
{% endblock %}